.featured .carousel {
    display: flex;
    justify-content: space-between;
}

.featured .carousel .featured-article .main {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(184, 182, 194, 0.15) 0px 48px 100px 0px;
}

.featured .carousel .featured-article .main .list-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.featured .carousel .featured-article .main .images {
    width: 342px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.featured .carousel .featured-article .main .images img {
    height: 196px;
    object-fit: cover;
}

.featured .carousel .featured-article .bottom-text {
    margin-top: 10px;
}

.featured .carousel .featured-article .bottom-text .bottom-type {
    margin-top: 5px;
    color: var(--secondary-color);
}
