menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc);
    height: 73px;
}

menu>div {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

menu .logo {
    cursor: pointer;
}

menu .categories .categorie {
    margin: 0px 10px;
    cursor: pointer;
    white-space: nowrap;;
}

menu .input {
    background-color: var(--bgc-secondary);
    padding: 5px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 35%;
}

menu .input * {
    background-color: var(--bgc-secondary);
}

menu .input .menu-dropdown {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

menu .input .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

menu .input .input-container input {
    border: none;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    min-width: 100px;
}

menu .input .input-container img {
    position: relative;
    margin-left: 5px;
    padding: 0px 10px;
}

menu .menu-right > * {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

menu .menu-right .watchlist img, menu .menu-right .user img {
    margin-right: 5px;
}